

/* 名前欄 */
.chara_name_area{
    transform: rotate(-3deg);
}


/* 選択肢 */
.button_graphic{
    padding: 0;
    line-height: 68px;
    transition: 0.2s ease;
}
.button_graphic:hover{
    transform: scale(1.05);
}