/*reset css */
@import url("font.css");

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td{
    padding:0;
    margin:0;
}
table{
    border-collapse: collapse;
    border-spacing:0;
}
fieldset,img{
    border:0;
}
address,caption,cite,code,dfn,em,strong,th,var{
    font-weight:normal;
    font-style:normal;
}
ol,ul{
    list-style:none;
}
caption,th{
    text-align:left;
}
h1,h2,h3,h4,h5,h6{
    font-weight:normal;
    font-size:100%;
}
q:before,q:after{
    content:'';
}
abbr,acronym{
    border:0;
}


/*smart novel original css */

.vertical_text{
    
    font-family:'@ＭＳ 明朝';
    /*color:white;*/
    writing-mode:tb-rl;
    writing-mode:vertical-rl ;
    -webkit-writing-mode:vertical-rl ;
    float:right;
    height:100%;

}


.layer_menu {
    display:none;
    font-size:1.3em;
    font-weight:bold;
    position:absolute;
    width:100%;
    height:100%;
}



/*メニュ－ボタン系*/
.menu_item {
	position: relative;
	margin-top: 2%;
	text-align: center;
	cursor: pointer;
}

.menu_item img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	margin-right: 10px;
}

/* セーブ */
.menu_save {
	display: inline-block;
	position: absolute;
	margin: 0;
	padding: 0;
	top: 200px;
	left: 380px;
}

/* ロード */
.menu_load {
	display: inline-block;
	position: absolute;
	margin: 0;
	padding: 0;
	top: 280px;
	left: 380px;
}

/* テキスト消去 */
.menu_window_close {
	display: inline-block;
	position: absolute;
	margin: 0;
	padding: 0;
	top: 360px;
	left: 380px;
}

/* メッセージスキップ */
.menu_skip {
	display: inline-block;
	position: absolute;
	margin: 0;
	padding: 0;
	top: 440px;
	left: 380px;
}

/* タイトルに戻る */
.menu_back_title {
	display: inline-block;
	position: absolute;
	margin: 0;
	padding: 0;
	top: 520px;
	left: 380px;
}


/* バックログ画面
--------------------------------------*/
/*
.log_body {
	width: 1000px;
	height: 450px;
	margin: 50px 0 0 0;
	padding: 20px;
	border: 1px solid #798993;
	border-radius: 0;
	color: #798993;
	background: rgba(251, 250, 249, .5);
	font-weight: normal;
	text-align: left;
	line-height: 1.6em;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}
*/
/* スクロールバー */
/*
.log_body::-webkit-scrollbar {
	width: 12px;
}
.log_body::-webkit-scrollbar-thumb {
	border-radius: 0;
	background: #0F60EA;
}

.log_body::-webkit-scrollbar-track{
	background: none;
}
*/


.display_menu .button:first-child {margin-top:0;}
.display_menu{
    overflow:visible;padding:0;
    z-index: 10000;
    width:100%;
    height:100%;
    position: absolute;
    display:block;
    /*overflow:visible;padding:2%;display:table-cell;vertical-align:middle*/
}

/* セーブ時の画面の設定
--------------------------*/
/* セーブデータリスト全体の設定 */
/*
.area_save_list {
	display: block;
	width: 1100px;
	height: 520px;
	margin: 30px 0 0 0;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}
/*
/* スクロールバー */
.area_save_list::-webkit-scrollbar {
	width:12px;
}

.area_save_list::-webkit-scrollbar-thumb {
	border-radius: 0;
	background: #0F60EA;
}

.area_save_list::-webkit-scrollbar-track {
	border-radius: 0;
	background: rgba(255, 255, 255, 0.5);
}


/* セーブデータリスト全体の設定 */
/*
.save_list {
	display: table;
	table-layout: fixed;
	width: 1010px;
	height: 120px;
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-weight: normal;
	border: none;
	border-collapse: separate;
	border-spacing: 0 10px;
	box-sizing: border-box;
}
/*
/* セーブデータの設定 */
/*
.save_list_item {
	display:table-row;
	width: 1000px;
	height: 120px;
	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;
}

.save_list_item:hover{
	background-color: rgba(153, 219, 255, .5);
}
*/

/* セーブデータのサムネイル部分の設定 */
/*
.save_list_item_thumb {
	display: table-cell;
	width: 190px;
	height: 120px;
	margin: 0;
	padding: 0;
	background-color: rgba(255 ,255 ,255 ,.3);
	background-image: url('images/system/saveslot.png');
	background-repeat: y-repeat;
	background-position: left top;
	box-sizing: border-box;
}
*/
/* サムネイル画像の設定 */
/*
.save_list_item_thumb img {
	width: 160px;
	height: 90px;
	margin: 15px 3px 0 0;
	padding: 0;
	border-radius: 0;
}
*/
/* セーブデータのテキスト部文の設定 */
/*
.save_list_item_area {
	display: table-cell;
	width: 810px;
	height: 120px;
	padding: 15px 10px 0 0;
	border:none;
	border-radius: 0;
	background-color: rgba(255 ,255 ,255 ,.3);
	background-image: url('images/system/saveslot.png');
	background-repeat: y-repeat;
	background-position: right top;
	text-align: left;
	vertical-align: top;
	box-sizing: border-box;
}
*/
/* セーブデータの日付の設定 */
/*
.save_list_item_date {
	display: block;
	margin: 0;
	padding: 0 0 0 20px;
	line-height: 1;
	color: #02ABE6;
	font-weight: bold;
	box-sizing: border-box;
}
*/
/* セーブデータのテキストの設定 */
/*
.save_list_item_text {
	display: block;
	height: 70px;
	margin: 0;
	padding: 5px 0 0 20px;
	line-height: 1.3;
	color: #666;
	overflow: hidden;
	box-sizing: border-box;
}
*/

.layer_event_click{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

.layer{
	background-size:100% 100%;
}

.button_menu{
    position:absolute;
    z-index:99999;
    top:20px;
    cursor:pointer;
}

/*
 CSSを修正することで、ゲーム画面をカスタマイズすることが可能です
 * */

/*ゲーム枠の外側の色を指定します*/

body{
    background-color:black;
    -webkit-tap-highlight-color: transparent;
    overflow:hidden;

}

/*次へのクリックを促すアイコン*/

.img_next{
    padding-left:3px;
}

/*テキストボックスの共通スタイル*/
.text_box{

}

.tyrano_base{
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
  
    -webkit-text-size-adjust:none;
  
  	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
   
}



/* button 
---------------------------------------------- */
.glink_button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.glink_button:hover {
	text-decoration: none;
}
.glink_button:active {
	position: relative;
	top: 1px;
}


.button_graphic {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	/*margin: 0 2px;*/
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	
	padding: 1em 2em 1em;
	color:white;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	
	
}
.button_graphic:hover {
	text-decoration: none;
}
.button_graphic:active {
	position: relative;
	top: 1px;
}



.bigrounded {
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}
.medium {
	font-size: 12px;
	padding: .4em 1.5em .42em;
}
.small {
	font-size: 11px;
	padding: .2em 1em .275em;
}

/* color styles 
---------------------------------------------- */

/* black */
.black {
	color: #d7d7d7;
	border: solid 1px #333;
	background: #333;
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
	background: -moz-linear-gradient(top,  #666,  #000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}
.black:hover {
	background: #000;
	background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
	background: -moz-linear-gradient(top,  #444,  #000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');
}
.black:active {
	color: #666;
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444));
	background: -moz-linear-gradient(top,  #000,  #444);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666');
}

/* gray */
.gray {
	color: #e9e9e9;
	border: solid 1px #555;
	background: #6e6e6e;
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
	background: -moz-linear-gradient(top,  #888,  #575757);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
.gray:hover {
	background: #616161;
	background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
	background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}
.gray:active {
	color: #afafaf;
	background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
	background: -moz-linear-gradient(top,  #575757,  #888);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}

/* white */
.white {
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {
	color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top,  #ededed,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

/* orange */
.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

/* red */
.red {
	color: #faddde;
	border: solid 1px #980c10;
	background: #d81b21;
	background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
	background: -moz-linear-gradient(top,  #ed1c24,  #aa1317);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}
.red:hover {
	background: #b61318;
	background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
	background: -moz-linear-gradient(top,  #c9151b,  #a11115);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');
}
.red:active {
	color: #de898c;
	background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
	background: -moz-linear-gradient(top,  #aa1317,  #ed1c24);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');
}

/* blue */
.blue {
	color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.blue:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.blue:active {
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}

/* rosy */
.rosy {
	color: #fae7e9;
	border: solid 1px #b73948;
	background: #da5867;
	background: -webkit-gradient(linear, left top, left bottom, from(#f16c7c), to(#bf404f));
	background: -moz-linear-gradient(top,  #f16c7c,  #bf404f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f16c7c', endColorstr='#bf404f');
}
.rosy:hover {
	background: #ba4b58;
	background: -webkit-gradient(linear, left top, left bottom, from(#cf5d6a), to(#a53845));
	background: -moz-linear-gradient(top,  #cf5d6a,  #a53845);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf5d6a', endColorstr='#a53845');
}
.rosy:active {
	color: #dca4ab;
	background: -webkit-gradient(linear, left top, left bottom, from(#bf404f), to(#f16c7c));
	background: -moz-linear-gradient(top,  #bf404f,  #f16c7c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf404f', endColorstr='#f16c7c');
}

/* green */
.green {
	color: #e8f0de;
	border: solid 1px #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.green:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
	background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.green:active {
	color: #a9c08c;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
	background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}

/* pink */
.pink {
	color: #feeef5;
	border: solid 1px #d2729e;
	background: #f895c2;
	background: -webkit-gradient(linear, left top, left bottom, from(#feb1d3), to(#f171ab));
	background: -moz-linear-gradient(top,  #feb1d3,  #f171ab);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#feb1d3', endColorstr='#f171ab');
}
.pink:hover {
	background: #d57ea5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f4aacb), to(#e86ca4));
	background: -moz-linear-gradient(top,  #f4aacb,  #e86ca4);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4aacb', endColorstr='#e86ca4');
}
.pink:active {
	color: #f3c3d9;
	background: -webkit-gradient(linear, left top, left bottom, from(#f171ab), to(#feb1d3));
	background: -moz-linear-gradient(top,  #f171ab,  #feb1d3);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f171ab', endColorstr='#feb1d3');
}

/* 反転 */
.reflect{
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
	filter: FlipH;
}

/*ダイアログボックス*/
#alertify{
    z-index:9999999;
}


/*vchat **************************/

/*——————–
 吹き出しを作る
——————–*/

.vchat_base{
    
    width:100%;
    height:100px;
    background-color:red;
    position:relative;
    display:none;
    overflow:scroll;    
       
}

/* 全体のスタイル */
.vchat {
  margin-top: 25px;
}

/*名前欄*/
.vchat-name {
    margin-top:20px;
    font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; 
}

/*吹き出しテキスト */
.vchat-text {
  -webkit-text-size-adjust:none;
  position: relative;
  margin-left: 10px;
  padding: 10px;
  border-radius: 10px;
  margin-right: 12%;
  box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.6);
  font-size:"xx-large";
 
  word-break: keep-all;
  line-break: strict;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-touch-callout:none;
  -webkit-user-select: none;
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; 
  /*float: left;*/
}

.ribbon20-wrapper {  
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 20px 0;
  width: 300px;
  background: #f1f1f1;
  }
.ribbon20 {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 5px;
  box-sizing: border-box;
  padding: 0 12px;
  margin: 0;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  letter-spacing: 0.1em;
  color: white;
  background: #70c7ff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
}
.ribbon20:before {
  position: absolute;
  content: '';
  top: 0;
  left: -7px;
  border: none;
  height: 40px;
  width: 7px;
  background: inherit;
  border-radius: 5px 0 0 5px;
}

/*
.ribbon20:after {
  position: absolute;
  content: '';
  bottom: -7px;
  left: -5px;
  border: none;
  height: 7px;
  width: 5px;
  background: #4d99ca;
  border-radius: 5px 0 0 5px;
}
*/

/* 回り込み解除 */
.vchat:after,.vchat:before {
  clear: both;
  content: "";
  display: block;
}






