<div class="main">
    <div class="display_menu">
    
        <div class='menu_item'>
            <img class="menu_close" src='data/image/close.png' />
        </div>
            
        <div class="log_body">

        </div>
    
    </div>
    
</div>

<style>
    .main{
        background: url(tyrano/images/system/bg_log.png);
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .menu_item {
        position: absolute;
        top: 30px;
        right: 0;
        margin-top: 0;
        text-align: center;
        cursor: pointer;
        width: 118px;
        height: 118px;
    }
    .menu_item img {
        width: auto;
        max-width: 100%;
        max-height: 100%;
    }


    .log_body{
        position: absolute;
        top: 170px;
        left: 170px;
        width: 940px;
        height: 500px;
        padding: 10px 0 10px 10px;
        overflow-y: scroll;
        color: black;
        font-weight: normal;
        text-align: left;
    }

    .log_body::-webkit-scrollbar{ 
            width: 16px;
        }
        .log_body::-webkit-scrollbar-thumb{ 
            background: #333;
            border-radius: 10px;
        }
        .log_body::-webkit-scrollbar-track-piece:start{
            background: #ccc;
        }
        .log_body::-webkit-scrollbar-track-piece:end{
            background: #ccc;
    }


</style>