<div class="main">
    
    <div class='menu_item'>
        <img class="menu_close" src='data/image/close.png' />
    </div>
    
    
    <div class="area_save_list">
        
        <ul class='save_list'>
            {{for array_save}}
                <li class='save_display_area save_list_item' data-num='{{:num}}'>                    
                    <span class='save_list_item_thumb'>
                    {{if img_data != ""}}
                        <img src="{{:img_data}}">
                    {{else}}
                        <img src="tyrano/images/system/noimage.png">
                    {{/if}}
                    </span>
                    
                    <span class='save_list_item_area'>
                        <span class='save_list_item_date'>{{:save_date}}</span>
                        <span class='save_list_item_text'>{{:title}}</span>
                    </span>
                </li>
            {{/for}}
        </ul>
    
    </div>
    
    <style>
    
    .main{
        background: url(tyrano/images/system/bg_load.png);
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .menu_item {
        position: absolute;
        top: 30px;
        right: 0;
        margin-top: 0;
        text-align: center;
        cursor: pointer;
        width: 118px;
        height: 118px;
    }
    .menu_item img {
        width: auto;
        max-width: 100%;
        max-height: 100%;
    }

    .save_list{
        height: 550px;
        width: 940px;
        position: absolute;
        top: 160px;
        left: 170px;
        margin: 0;
        padding: 0;
        font-size: 22px;
        font-weight: normal;
        border-top: none;
    }

    .save_list_item {
        display: block;
        cursor: pointer;
        background: black;
        height: 103px;
        margin-bottom: 7px;
    }

    .save_list_item_thumb {
        display: table-cell;
        width: 160px;
        height: 90px;
        padding-top: 7px;
        padding-left: 10px;
        border-bottom: none;
    }
    .save_list_item_thumb img{
        width: 160px;
        height: 90px;
    }

    .save_list_item_area {
        display: table-cell;
        vertical-align: top;
        padding: 0 20px;
        border-bottom: none;
        width: 740px;
        text-align: left;
    }
    
    .save_list_item_date{
        color: #ccc;
    }
    .backlog_text{
        color: white;
    } 
    .save_list_item_text{
        color: #999;
    }

    </style>

</div>