<div class="main">
    <div class="display_menu block_menu">
    
        <div class='menu_item_close'>
            <img class="menu_close" src='tyrano/images/system/menu_button_close.png' />
        </div>
            
        
        <div>
            <div class="menu_item_button">
                <a href="javascript:void(0)">
                    <img class="menu_save" src="tyrano/images/system/menu_button_save.png" />
                </a>
            </div>
        
            <div class="menu_item_button">
                <a href="javascript:void(0)">
                    <img class="menu_load" src="tyrano/images/system/menu_button_load.png" />
                </a>
            </div>
        
            <div class="menu_item_button">
                <a href="javascript:void(0)">
                    <img class="menu_log" src="tyrano/images/system/menu_button_log.png" />
                </a>
            </div>
        
            <div class="menu_item_button">
                <a href="javascript:void(0)">
                    <img class="menu_config" src="tyrano/images/system/menu_button_config.png" />
                </a>
            </div>
        </div>
    
    </div>
    
    <script class="block_menu">
        
        var tmp_src = "";
        
        $(".menu_item_button").hover(function(){
            tmp_src = $(this).find("img").attr("src");
            var img_src = tmp_src.replace(".gif","2.gif").replace(".png","2.png");
            $(this).find("img").attr("src",img_src);
        },
        function(){
            
            //もとにもどす
            $(this).find("img").attr("src",tmp_src);
        });
        
    </script>
</div>

<style>
    .main{
        background: url(tyrano/images/system/bg_menu.png);
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .menu_item_close {
        width: 1280px;
        height: 150px;
        position: absolute;
        top: 510px;
        left: 0;
        margin-top: 0;
        text-align: center;
        cursor: pointer;
    }
    .menu_item_close img {
        width: auto;
        max-width: 100%;
        max-height: 100%;
    }

    .menu_save{
        position: absolute;
        top: 80px;
        left: 266px;
    }
    .menu_load{
        position: absolute;
        top: 80px;
        left: 716px;
    }
    .menu_log{
        position: absolute;
        top: 230px;
        left: 266px;
    }
    .menu_config{
        position: absolute;
        top: 230px;
        left: 716px;
    }
</style>